.MAIN-CryptoCard {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.Card-Filtre-SearchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin-bottom: 60px;
}

.Filtre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.PictoSearch,
.PictoFiltre {
	height: 48px;
	width: 48px;
}

.divSearchBar {
	display: flex;
	align-items: center;
	background-color: var(--black-color);
	border-radius: 100px;
	border: solid var(--blue-color) 2px;
	height: 48px;
}

.SearchBar {
	height: 44px;
	width: 60vw;
	background-color: var(--black-color);
	border-radius: 100px;
	border: none;
}

.linkCryptoMonnaie {
	text-decoration: none;
}
