* {
	margin: 0;
	padding: 0;
}

.bodyHome {
	background-image: url("../img/imgFondHome.webp");
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.grand-titre {
	font-family: var(--font-grand-titre);
	font-size: 64px;
	color: var(--white-color);
}

#span-grand-titre {
	color: var(--purple-color);
}

.main-Home {
	display: flex;
	align-items: center;
	height: 85vh;
}

.div-home {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 35vw;
	margin-left: 10%;
	gap: var(--gap);
}

.text-home {
	font-family: var(--font-text);
	font-size: 20px;
	color: var(--white-color);
}

.link-home {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--gradiant);
	color: var(--black-color);
	width: 100%;
	height: 56px;
	font-size: 20px;
	font-family: var(--font-text);
	border-radius: var(--radius);
	font-weight: 600;
	transition: transform var(--transition-speed), background-color
		var(--transition-speed);
}

.link-home:hover {
	transform: scale(var(--btn-scale));
	box-shadow: var(--shadow), inset 0 0 0 1px #6bade0;
}

.blockHome {
	background: rgba(9, 7, 23, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	border-radius: var(--radius);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.ndTitre {
	font-family: var(--font-text);
	display: flex;
	gap: 10px;
	color: white;
	font-size: 30px;
}
