.link {
	color: #6bade0;
	text-decoration: none;
}

.NavP {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.BurgerDiv {
	color: #6bade0;
	display: flex;
	gap: 50px;
	font-size: 20px;
}

nav {
	padding-top: 30px;
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: space-around;
}

.BtnCrypto {
	/* height: 55px;
	width: 250px; */
	font-size: 20px;
	padding: 0.7rem;
	font-family: "Open Sans", sans-serif;
	background: linear-gradient(45deg, #b840f0, #6bade0);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
