.link {
	color: var(--blue-color);
	text-decoration: none;
}

.NavP {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 60px 0 60px;
}

.BurgerDiv {
	color: var(--blue-color);
	display: flex;
	gap: 50px;
	font-size: 20px;
}

nav {
	padding-top: 30px;
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: space-around;
}

.logo {
	height: 100px;
	width: auto;
}

.dropdown {
	position: relative;
}

.dropdown-list {
	position: absolute;
}

.dropdown-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.dropdown-list {
	display: flex;
	margin-top: 8px;
	flex-direction: column;
	gap: 8px;
	list-style-type: none;
}

.lienList {
	color: var(--purple-color);
}

#btnCrypto {
	width: 200px;
}
