:root {
	--purple-color: #b840f0;
	--blue-color: #6bade0;
	--black-color: #090717;
	--white-color: white;
	--font-text: "Open Sans", sans-serif;
	--font-grand-titre: "Audiowide", cursive;
	--font-tit: "Helvetica Neue", "Arial", sans-serif;
	--font-titres: "Bebas Neue", sans-serif;
	--radius: 12px;
	--gap: 24px;
	--big-gap: 52px;
	--grandiant: linear-gradient(45deg, #b840f0, #6bade0);
}
